{% extends "base.html" %}

{% block title %}Giovanni Magoga{% if articles_page.number != 1 %} - Page {{ articles_page.number }}{% endif %}{% endblock %}
{% block og_title %}Home | Giovanni Magoga{% endblock %}

{% block content %}
    {% for article in articles_page.object_list %}
    {%   include "partials/article_body.html" %}
    {% if loop.nextitem is defined %}<hr class="separator{% if loop.index0 > 0 %} extra{% endif %}">{% endif %}
    {% endfor %}

    {% include "partials/pagination.html" %}
{% endblock %}
