{% extends "base.html" %}

{% block head %}
    {{ super() }}

    {% if page.status == 'draft' %}
    <meta name="robots" content="noindex" />
    {% endif %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date.strftime('%Y-%m-%dT%H:%M:%S.%f') }}">
    {% if page.modified %}
    <meta property="article:modified_time" content="{{ page.modified.strftime('%Y-%m-%dT%H:%M:%S.%f') }}">
    {% endif %}
    <meta property="article:author" content="{{ AUTHOR }}" />
{% endblock %}

{% block title %}{{ page.title | e }} | {{ SITENAME }}{% endblock %}
{% block og_title %}{{ page.title | e }}{% endblock %}
{% block meta_description %}{{ page.description | e }}{% endblock %}

{% block content %}
{% include "partials/page_body.html" %}
{% endblock %}
