            <article>
                <header>
                    {% if article.title %}
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" {% if page_name is undefined %}class="no-line"{% endif %} title="Permanent link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
                    </h1>
                    {% endif %}

                    <p>Written {{ article.locale_date }}</p>
                    {% if article.category.name != "" %}
                        <p>Filed under <a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a></p>
                    {% endif %}
                </header>


                {{ article.content }}

                <div class="info">
                    <a href="{{ SITEURL }}/{{ article.url }}">posted at {{ article.date.strftime("%H:%M") }}</a>
                    {% if article.category.name != "misc" %}
                    &nbsp;&middot;&nbsp;<a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a>
                    {% endif %}
                    {% if article.tags %}
                    &nbsp;&middot;
                    {% for t in article.tags %}
                    &nbsp;<a href="{{ SITEURL }}/{{ t.url }}" class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
		{% if articles_page and DISQUS_SITENAME %}
		<a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Click to read and post comments</a>
		{% else %}
		{% include "disqus.html" %}
		{% endif %}
            </article>
