            <article>
                <header>
                    {% if article.title %}
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" {% if page_name is undefined %}class="no-line"{% endif %} title="Permanent link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
                    </h1>
                    {% endif %}

                    <p><span class="newthought">Written {{ article.locale_date }}</span></p>
                    {% if article.category.name != "" %}
                        <p><span class="newthought">Filed under &ldquo;<a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}&rdquo;</a></span></p>
                    {% endif %}
                </header>


                {{ article.content }}

                <footer>
                    <span class="newthought">Finalized at {{ article.date.strftime("%-I:%M %p")}}</span>
                    {% if article.tags %}
                    &nbsp;&middot;
                    {% for t in article.tags %}
                    &nbsp;<a href="{{ SITEURL }}/{{ t.url }}" class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
                    {% endfor %}
                    {% endif %}
                </footer>
		{% if articles_page and DISQUS_SITENAME %}
		<a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Click to read and post comments</a>
		{% else %}
		{% include "disqus.html" %}
		{% endif %}
            </article>
