html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

body {
    line-height: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style: outside disc;
}

ol {
    list-style: outside decimal;
}

blockquote {
    margin: 1.5em 1.5em 1.5em .75em;
    padding-left: .75em;
    border-left: 1px solid #EEE;
}

ul.vault {
    list-style-type: circle
}
article > footer {
    text-align: right;
}
.de-emphasize {
    font-size: 1rem;
    color: rgba(17, 17, 17, 0.5);
}
/* Pygment is .highlight. Make everything the same width as Tufte paragraphs. */
div.highlight, article footer {
    width: 60%;
}
.highlight {
    border-radius: 3px;
}
.code > .highlight {
    border-radius: 0 3px 3px 0;
}
.linenos {
    border-radius: 3px 0 0 3px;
    background-color: #073642;
    border-right: 1px solid #00232C;
    color: #586E75;
    text-shadow: 0 -1px #021014;
}
td.code {
    width: 100%;
    max-width: 100px;
}
.linenos a {
    color: #586E75;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

article pre, .page pre {
    padding: .8em;
    line-height: 1.1em;
    overflow: auto;
}

header .header_box {
    padding-top: 4.5em;
}

.pages {
    line-height: 2.5em;
    margin: 4.5em 0 3em;
    background-color: #F9F9F9;
    color: #444;
    border-radius: 5px;
}
.pages a.next_page {
    float: right;
    width: 140px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EEE;
}
.pages a.prev_page {
    float: left;
    width: 140px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #EEE;
}
.pages a {
    color: inherit;
    border: none;
}
.pages a:hover {
    background-color: #DDD;
}
.pages span {
    display: block;
    margin: 0 160px;
    text-align: center;
}

code {
    background-color: #F9F2F4;
    border-radius: 4px;
    box-sizing: border-box;
    color: #C7254E;
    font-family: Consolas,Monaco,Menlo,"Courier New",monospace;
    line-height: 18px;
    padding: 2px 4px;
    white-space: nowrap;
}

pre {
    font-family: Consolas,Monaco,Menlo,"Courier New",monospace;
}

footer p { margin: 0; }

.right { float: right; }

.clear { clear: both; }

main {
    padding: 0 4rem 0 6rem;
    max-width: 1000px;
    width: 70%;
}

article > header > p {
    margin: 0;
    font-size: 1rem;
}
/* aside + nav-bar = asidebar! */
#asidebar {
    padding: 8rem 0 0 4rem;
}

#asidebar #logo {
    text-align: center;
    margin-bottom: 2rem;
}

#asidebar .main-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
#asidebar .main-menu ul li {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}
#asidebar .main-menu ul li a {
    color: rgb(17, 17, 17);
    text-decoration: none;
    position: relative;
    padding: 10px 10px;
    transition: 0.3s;
}
#asidebar .main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    background-color: rgba(17, 17, 17, 0.7);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#asidebar .main-menu ul li a:hover {
    text-decoration: none;
}
#asidebar .main-menu ul li a:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

#asidebar #social {
    text-align: center;
    padding: 0;
    margin: 2rem 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
#asidebar #social li {
    margin: 0;
    display: inline;
    list-style: none;
    flex: 1;
}

@media screen and (max-width: 1200px) {
    main {
        padding-right: 0;
    }

    #asidebar #logo img {
        max-width: 100px;
    }
}

@media screen and (max-width: 950px) {
    main {
        padding-left: 4rem;
    }
    #asidebar {
        padding-left: 2rem;
    }
}

/* sidebar mobile-ish break that coincides with Tufte's sidenotes disappearing */
@media screen and (max-width: 760px) {
    body {
        display: block;
    }

    main {
        padding-right: 4rem;
        overflow-x: hidden;
        box-sizing: border-box;
        width: 100%;
    }

    body > main > article:first-of-type {
        padding-top: 0;
    }

    body > main > article:last-of-type {
        padding-bottom: 4rem;
    }

    div.highlight, article footer {
        width: 100%;
    }

    #asidebar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 0 0 4rem;
    }

    #asidebar #logo img {
        max-width: 90px;
    }

    #asidebar #logo {
        margin-bottom: 0;
    }

    #asidebar .main-menu ul {
        margin: 0 0 2em 0;
    }

    #asidebar nav {
        padding-left: 2rem
    }

    #asidebar .main-menu ul {
        text-align: left
    }

    #asidebar .main-menu ul li {
        float: left;
        margin: 0;
        padding: 0 0.25rem;
    }

    #asidebar .main-menu ul li a:hover:after {
        display: none;
    }

    #asidebar .main-menu ul li a {
        transition: none;
        padding: 0;
        margin-left: 0.25rem;
    }

    #asidebar .main-menu ul li a:link {
        text-decoration: none;
        background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
        background-position: 0 93%, 100% 93%, 0 93%;
    }

    #asidebar .main-menu ul li a:link::selection {
        text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
        background: #b4d5fe;
    }

    #asidebar .main-menu ul li a:link::-moz-selection {
        text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
        background: #b4d5fe;
    }

    #asidebar #social {
        padding-left: 2rem;
        display: block;
        margin: 0;
    }

    #asidebar #social li {
        padding-left: 0.25rem
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0 2rem;
    }

    #asidebar {
        padding: 2rem 2rem 0 2rem
    }
}

/* make <del>s accessible to screen readers. Thanks, MDN! */
del::before,
del::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

del::before {
    content: " [deletion start] ";
}

del::after {
    content: " [deletion end] ";
}

@media screen and (max-width: 800px), print {
    article pre, article code {
        white-space: pre-wrap;
    }

}
@media print {
    * {
        background: #fff;
    }
    main > article {
        padding-top: 0;
    }
    main {
        width: 100%;
        padding: 0;
    }
    #asidebar {
        display: none;
    }
    img {
        break-inside: avoid;
    }
    p, table, pre {
        widows: 3;
        orphans: 3;
    }
    h1, h2, h3, h4, h5, h6 {
        break-after: avoid;
    }
}

